footer {
    padding: var(--section-spacing) var(--side-padding);
    display: grid;
    background-color: hsl(0deg 0% 92%);
    grid-template-columns: 60% 1fr;
    grid-template-rows: 25px 1fr;
    grid-template-areas: 
        "logo icons"
        "text ."
        "year ."
    ;
}
img {
    grid-area: logo;
}
footer img[alt="logo"] {
    filter: opacity(.5);
}
.iconsContainer {
    grid-area: icons;
    justify-self: right;
    display: flex;
    gap: 10px;
    max-width: 30px;
    max-height: 30px;
    transform: translateX(-80px);
}
footer p {
    grid-area: text;
    color: var(--grey);
}
footer span {
    grid-area: year;
    color: var(--grey);
}
@media(max-width: 1080px) {
    
}
@media(max-width: 650px) {
    
}
@media(max-width: 500px) {

}
@media(max-width: 320px) {
    footer {
        grid: initial;
        justify-items: center;
        grid-template-areas: 
            "icons"
            "logo"
            "text"
            "year"
        ;
    }
    .iconsContainer {
        grid-area: icons;
        justify-self: initial;
        display: flex;
        gap: 10px;
        max-width: 30px;
        max-height: 30px;
        transform: translateX(-35px);
        padding-bottom: 1.6rem;
    }
    footer p {
        text-align: center;
    }
}